.header {
    height: 125px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgb(15, 29, 66);
    color: white;
    border-bottom: 5px solid red;    
  }

  .header h2 {
      padding-top: 20px;
  }